.button {
  vertical-align: middle;
  accent-color: var(--color-secondary);
}

.label {
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-block;
}

.label:has(.button:checked) {
  background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
}
