.button {
  vertical-align: middle;
  accent-color: var(--color-secondary);
}

.button:hover {
  cursor: pointer;
}

.label {
  border-radius: 8px;
  padding: 2px 4px;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: rgb(0 0 0 / 0);
}

.label:has(.button:checked) {
  border-color: var(--color-primary);
}

.label:hover {
  cursor: pointer;
}
