.fieldset {
  overflow-y: scroll;
  max-height: 100%;
  border-radius: 8px;
}

.legend {
  font-size: 1.4em;
  color: var(--color-on-primary);
  border: thin solid var(--color-on-background);
  border-radius: 8px;
  padding: 4px 8px;
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  gap: 10px 3%;
  padding-top: 10px;
}
